@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>CCP</h1>
    <p class="lead">Lorem Ipsum é simplesmente um texto fictício da indústria de impressão e composição. Lorem Ipsum tem sido o texto fictício padrão da indústria desde os anos 1500, quando um impressor desconhecido pegou uma galé do tipo e embaralhou para fazer um livro de amostra de tipos. Ele sobreviveu não apenas cinco séculos, mas também ao salto para a composição eletrônica, permanecendo essencialmente inalterado.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Alunos</h2>
        <p>
            É um fato estabelecido há muito tempo que um leitor se distrairá com o conteúdo legível de uma página ao examinar seu layout.
            O objetivo de usar Lorem Ipsum é que ele tem uma distribuição de letras mais ou menos normal,
            ao contrário de usar 'Conteúdo aqui, conteúdo aqui', fazendo com que pareça um inglês legível.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Professores</h2>
        <p>
            Muitos pacotes de editoração eletrônica e editores
            de páginas da web agora usam Lorem Ipsum como seu texto de modelo padrão,
            e uma pesquisa por 'lorem ipsum' revelará muitos sites ainda em sua infância.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Administradores</h2>
        <p>
            Existem muitas variações de passagens de Lorem Ipsum disponíveis,
            mas a maioria sofreu alteração de alguma forma,
            por humor injetado ou palavras aleatórias que não parecem nem um pouco críveis.
        </p>
    </div>
</div>